<nav>
    <a href="/home"><div class="logo"></div></a>
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/search">Search</a></li>
        {{#if isLoggedIn}}
        <li><a href="/profile">My Profile<span class="user name">@{{username}}</span></a></li>
        <li><a href="/login">Log Out</a></li>
        {{else}}
        <li><a href="/login">Login</a></li>
        {{/if}}
    </ul>
</nav>