@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
	font-family: 'Open Sans', sans-serif;
	--primary: #2B3990;
	--secondary: #282f5b;
	--tertiary: #456990;
	--darktertiary: #34506d;
	--accent: #d3d3d3;
	--lightbody: #ffffff;
	--lightaccent: #f4f4f4;
	--positive: #33cc33;
	--negative: #ff0000;
}

a {
	color: inherit;
}

body {
	margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
	position: sticky;
	display: flex;
	justify-content: space-between;
	background-color: var(--primary);
	color: #FFF;
	position: sticky;
}

nav .logo {
    display: inline-block;
    height: 3rem;
    width: 12rem;
    margin: 0 1rem;
    margin-top: 0.5rem;
    background: url('logo/white_logo_extra.png');
    background-size: contain;
    background-repeat: no-repeat;
}

nav ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	justify-content: flex-end;
}

nav ul li {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 .75rem;
	margin: 0;
	height: inherit;
}

nav ul a {
	color: #FFF;
	text-decoration: none;
	cursor: pointer;
}

nav ul li:hover {
	background-color: var(--secondary);
	cursor: pointer;
}

header {
    background-color: var(--lightaccent);
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

content {
    background-color: #ffffffff;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow: 1;
}

.post_form {
	padding: 1rem;
	flex-grow: 1;
}

.post_form form {
	width: 100%;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.post_form form input[type="text"] {
	display: block;
	width: 80%;
	padding: 0.5rem;
	border: none;
	border-radius: 10px 10px 0 0;
	font-family: ;
	font-size: 1.2rem;
	font-weight: 300;
}

.post_form form input[type="text"]:focus {
	outline: none;
}

.post_form form textarea {
	display: block;
	width: 80%;
	min-height: 5rem;
	padding: 0.5rem;
	margin-bottom: 1rem;
	border: none;
	resize: vertical;
	border-radius: 0 0 10px 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
}

.post_form form textarea:focus {
	outline: none;
}

.post_form form input[type="button"] {
    font-family: 'Open Sans', sans-serif;
    border: 0;
    border-radius: 5px;
    font-weight: 700;
    padding: .25rem 1.5rem;
    color: white;
    background-color: var(--tertiary);
    cursor: pointer;
}

.post_form form input[type="button"]:hover {
	background-color: var(--darktertiary);
} 

.post.row {
	display: flex;
	margin: 0 1rem;
	padding: 1.5rem 1.5rem;
	border-top: 1px solid var(--accent);
    align-items: center;
}

.post.row .rating_bar {
	display: flex;
	margin-left: 0.75rem;
	flex-direction: column;
	justify-content: center;
    align-items: center;
    cursor: default;
    user-select: none;
}

.post.row .img {
	flex-shrink: 0;
	background-color: lightgrey;
	margin-left: 0.75rem;
	width: 6rem;
	height: 6rem;
	border-radius: 5px;
}

.post.row .info {
	margin-left: 0.75rem;
	padding: 0 1rem;
	flex-grow: 1;
}

.post.row a {
	display: inline-block;
	text-decoration: none;
}

.post.row .info .text {
	display: inline-flex;
	flex-direction: column;
}

.post.row .info .title {
	font-size: 1.5rem;
	font-weight: 600;

}

.post.row .info .preview {
	font-size: 1rem;
	font-weight: 300;
}

.post.row .info .author {
	color: #0099ff;
	cursor: pointer;
	width: fit-content;
	width: -moz-fit-content;
}


.button {
	cursor: pointer;
}

.upvote:hover {
	color: var(--positive);
}

.downvote:hover {
	color: var(--negative);
}

.selected-upvote {
	color: var(--positive);
}

.selected-downvote {
	color: var(--negative);
}


footer {
    background-color: #f4f4f4;
    height: 5rem;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* profile page css */

.profile-body {
	background-color: var(--lightaccent);
    display: flex;
    flex-wrap: wrap;
}

.profile-editor {
	background-color: var(--lightbody);
	display: flex;
	margin-left: 250px;
	margin-right: 250px;
	width: 100%;
	padding: 50px;
}

.pfp {
	width: 200px;
	height: 200px;
}

.user-details {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.username-box {
	display: flex;
	flex-direction: row;
	height: 60px;
}

.username {
	font-size: 69;
	font-weight: bold;
	border: none;
	width: 100%;
	height: 30px;
	
}

.description {
	display: block;
	margin-top: 10px;
	min-height: 140px;
	resize: none;
	overflow: hidden;
}

/* profile editor css */

.profile_editor_body {
	background-color: var(--lightaccent);
}

.editors {
	background-color: var(--accent);
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.user_editor {
	background-color: var(--lightaccent);
	width: 540px;
	height: 600px;
	margin: 10px;
	display: flex;
	flex-direction: column;
}

.account_editor {
	background-color: var(--lightaccent);
	width: 540px;
	height: 600px;
	padding: 10px;
	margin: 10px;
	display: flex;
	flex-direction: column;
}

.save_button {
	background-color: var(--primary);
	color: white;
	width: 60px;
	height: 30px;
	margin-bottom: 10px;
}

.change_image_button {
	background-color: var(--primary);
	color: white;
	width: 150px;
	height: 30px;
	padding-top: 5px;
}

.editor_body {
	background-color: var(--accent);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.profile_input {
	border: none;
	border-radius: 10px;
}

.description_input {
	border: none;
	border-radius: 10px;
	height: 140px;
	resize: none;
}

.comment.row {
	display: flex;
	margin: 0 1rem;
	padding: 1.5rem 1.5rem;
	border-top: 1px solid var(--accent);
    align-items: center;
}

.comment.row .rating_bar {
	display: flex;
	margin-left: 0.75rem;
	flex-direction: column;
	justify-content: center;
    align-items: center;
    cursor: default;
    user-select: none;
}

.comment.row .info {
	margin-left: 0.75rem;
	padding: 0 1rem;
	flex-grow: 1;
}

.post.row .info .preview {
	font-size: 1rem;
	font-weight: 300;
}

.comment.row a {
	display: inline-block;
	text-decoration: none;
}

.comment.row .info .author {
	color: #0099ff;
	cursor: pointer;
	width: fit-content;
	width: -moz-fit-content;
}