<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About My Web Application</title>
   
</head>
<body>
    <h1>About My Web Application</h1>
    <p>
        This web application is built using the following NPM packages and third-party libraries:
    </p>
    <ul>
        <li>Express</li>
        <li>Dotenv</li>
        <li>Body-parser</li>
        <li>Hbs</li>
        <li>Supervisor </li>
      
    </ul>
</body>
</html>
