<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../css/default.css">
    <link rel="stylesheet" type="text/css" href="../css/about.css">
    <link rel="icon" type="image/png" href="/logo/favicon/favicon-32x32.png"/>
    <title>About ThreadTalk</title>
</head>
<body>
    {{> navbar}}
    <header><h1>About ThreadTalk</h1></header>
    <content>
        <div class="about container">
            <h1>Threadtalk</h1>
            <p>Thread Talk is a web forum where users can post short discussion threads and other users can comment on said threads.</p>
            
            <h2>Features</h2>
            <ul>
                <li>Deployed in <a href="https://threadtalk.onrender.com">threadtalk.onrender.com</a></li>
                <li>Express app with MongoDB for database management</li>
                <li>User registration and login</li>
                <li>User details editing</li>
                <li>User post history under profile tab</li>
                <li>Hashed passwords using bcrypt</li>
                <li>Posts with voting system</li>
                <li>Comments with voting system</li>
                <li>Search system that can search for post title, content, or author</li>
            </ul>
            
            <h2>Developers:</h2>
            <ul>
                <li>Coo, Hans</li>
                <li>Flaminiano, Peter</li>
                <li>Fuentespina, Aian</li>
                <li>Srivastava, Naman</li>
            </ul>
            
            <h2>Dependencies:</h2>
            <ul>
                <li>bcrypt</li>
                <li>body-parser</li>
                <li>connect-mongodb-session</li>
                <li>dotenv</li>
                <li>express-session</li>
                <li>express-validator</li>
                <li>express</li>
                <li>hbs</li>
                <li>mongodb</li>
                <li>mongoose</li>
                <li>node</li>
                <li>supervisor</li>
            </ul>
        </div>
    </content>
    {{> footer}}
    
</body>
</html>
