<!DOCTYPE html>
<html>

<head>
  <title>ThreadTalk</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="../js/login.js" type="text/javascript"></script>
  <script src="/js/validator.min.js" type="text/javascript"></script>
  <link rel="stylesheet" href="../css/login_register.css">
  <link rel="icon" type="image/png" href="/logo/favicon/favicon-32x32.png"/>
</head>

<body>
  <a class="icon button" href="home"><i class="fa fa-home"></i></a>
  <div class="container">
    <div class="picture"><img src="../logo/blue_logo.png" alt="logo"></div>
    <div class="login_container">
      <div class="icon"><img src="../logo/blue_icon.png" alt="icon"></div>
      <form id="login" method="post">
        <h2>Sign in</h2>
        <div>
          <label for="username">Username</label><br>
          <input type="text" id="username" name="username" required><br>
        </div>
        <div>
          <label for="user_pass">Password</label><br>
          <input type="password" id="user_pass" name="userpass" required><br>
        </div>
        <div>
          <label for="remember">
            <input type="checkbox" id="remember">
            Stay logged in
          </label>
        </div>
        <p id="error" class="error">{{error}}</p>
        <input type="submit" value="Login">
        <p>Don't have an account? <a href="register" target="_self">Sign up</a></p>
      </form>
    </div>
  </div>
</body>

</html>