body {
  height: 100%;
  margin: 0;
  padding: 0px;
  background-color: lightblue;
  overflow: hidden;
}

a.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: sticky;
  margin-top: 70px;
  font-size: 35px;
  opacity: 0.6;
  padding-top: 5px;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  color: white;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a.icon:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.90);
  border-radius: 10px;
}

.container {
  font-family: Arial, sans-serif;
  align-items: center;
  width: 100%;
  display: flex;
  height: 70vh;
}



.login_container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 350px;
  padding: 20px;
  border-radius: 8px;
  background-color: white;
  -webkit-transition: 0.1s linear;
  -o-transition: 0.1s linear;
  transition: 0.1s linear;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  height: 45px;
  width: 50px;
  position: relative;
}

p {
  text-align: center;
  color: rgb(94, 93, 93);
}

.login_container h2 {
  text-align: center;
  margin-top: 15px;
}

.login_container input[type="text"],
.login_container input[type="password"] {
  width: 100%;
  position: relative;
  padding: 10px;
  margin-bottom: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid grey;
}

.login_container input[type="submit"] {
  margin-top: 10px;
  font-weight: bolder;
  width: 100%;
  padding: 10px;
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.picture {
  display: none;
}

.login_container input[type="submit"]:hover {
  background-color: rgba(0, 0, 0, 0.85);
}

#submit {
  font-weight: 700;
  margin-top: 20px;
}

#submit:disabled {
  cursor: not-allowed;
  color: #A8A8A8;
  background-color: #E3E3E3;
}

.error {
  margin-top: 0px;
  margin: 5px;
  font-size: 12px;
  text-align: center;
}

.error:empty {
  text-align: center;
}

@media (min-width: 900px) {
  .login_container {
    -webkit-transition: 0.1s linear;
    -o-transition: 0.1s linear;
    transition: 0.1s linear;
    margin-right: 15vw;
    margin-left: 60vw;
  }

  .icon {
    display: none;
  }

  .picture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 20vw;
    padding-left: 20vw;
    padding-right: 60vw;
  }

}